<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacy</key>
	<dict>
		<key>NSPrivacyAccessedAPITypes</key>
		<array>
			<dict>
				<key>NSPrivacyAccessedAPIType</key>
				<string>NSPrivacyAccessedAPICategoryScreenCapture</string>
				<key>NSPrivacyAccessedAPITypeReason</key>
				<string>User-initiated screen recording via ReplayKit</string>
			</dict>
			<dict>
				<key>NSPrivacyAccessedAPIType</key>
				<string>NSPrivacyAccessedAPICategoryAudio</string>
				<key>NSPrivacyAccessedAPITypeReason</key>
				<string>User-initiated microphone capture in screen recording</string>
			</dict>
		</array>
		<key>NSPrivacyCollectedDataTypes</key>
		<array/>
	</dict>
</dict>
</plist>
